body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

.colors {
    background-color: green;
}

ul {
    text-align: center;
    line-height: 50px;
    font-style: italic;
    text-decoration: line-through;
}

p {
    font-weight: 600;
    font-size: 3em;
}

.amarelo {
    background-color: yellow;
}

.vermelho {
    background-color: red;
}

.marrom {
    background-color: brown;
}